#navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in;
    -webkit-transition: all var(--animation-duration) ease-in;
    -moz-transition: all var(--animation-duration) ease-in;
    -ms-transition: all var(--animation-duration) ease-in;
    -o-transition: all var(--animation-duration) ease-in;
}

#navbar.navbar--dark {
    background-color: var(--color-pink);
    padding: 8px;
}

.navbar__menu {
    display: flex;

}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    -webkit-border-radius: var(--size-border-radius);
    -moz-border-radius: var(--size-border-radius);
    -ms-border-radius: var(--size-border-radius);
    -o-border-radius: var(--size-border-radius);

}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}